*{
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

#navbar{
  margin-top: 10px;
  display:flex;
  justify-content: space-around;
  border-bottom-style: solid;
  padding-bottom:20px;
}

/*.logo{
}*/

ul{
  list-style: none;
  width:40%;
  display:flex;
  justify-content: space-around;
  margin-top: 20px;
}

#foodtitle{
  margin-top: 30px;
}

table{
  width:70%;
  text-align: center;
  margin: 30px auto 0 auto;
}

#studenttitle{
  margin:30px;
}